.wrapper {
  padding-top: 140px;
  padding-bottom: 80px;
  background-color: #fefae0;
}

.title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  color: #283618;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.socials {
  margin-top: 2rem;
}

.socials a {
  font-weight: 600;
  color: #283618;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #bc6c25;
}
